name: CI

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  xmllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: korelstar/xmllint-problem-matcher@v1
      - uses: ChristophWurst/xmllint-action@master
        with:
          xml-file: "./examples/Chapter_11_Example_1_Originations/Chapter_11_Example.dmn"
          xml-schema-file: ./xsd/DMN15.xsd
      - uses: ChristophWurst/xmllint-action@master
        with:
          xml-file: "./examples/Chapter_11_Example_1_Originations/Financial.dmn"
          xml-schema-file: ./xsd/DMN15.xsd
      - uses: ChristophWurst/xmllint-action@master
        with:
          xml-file: "examples/Chapter 11 Example 2 Ranked Loan Products/Recommended Loan Products.dmn"
          xml-schema-file: ./xsd/DMN15.xsd
      - uses: ChristophWurst/xmllint-action@master
        with:
          xml-file: "examples/Chapter 11 Example 2 Ranked Loan Products/Loan info.dmn"
          xml-schema-file: ./xsd/DMN15.xsd
      - uses: ChristophWurst/xmllint-action@master
        with:
          xml-file: "examples/Diagram Interchange/diagram-interchange-decision-service.dmn"
          xml-schema-file: ./xsd/DMN15.xsd
      - uses: ChristophWurst/xmllint-action@master
        with:
          xml-file: "examples/Diagram Interchange/diagram-interchange-decision-with-listed-input-data.dmn"
          xml-schema-file: ./xsd/DMN15.xsd
      - uses: ChristophWurst/xmllint-action@master
        with:
          xml-file: "examples/Diagram Interchange/diagram-interchange-dish-example.dmn"
          xml-schema-file: ./xsd/DMN15.xsd
      - uses: ChristophWurst/xmllint-action@master
        with:
          xml-file: "examples/Diagram Interchange/diagram-interchange-shape-with-label-text.dmn"
          xml-schema-file: ./xsd/DMN15.xsd